<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black;color: white;">
<footer class="page-footer font-small teal pt-4">
<div class="container-fluid text-center text-md-left">
    <div class="row">
        <div class="col-md-3 mt-md-0 mb-3" style="text-align:right;">
            <h4 class="text-uppercase font-weight-bold">OUR COMPANY</h4>
            <h6><a routerLink='/aboutus' style="color: white;"><i class="fas fa-address-card"></i>

                ABOUT US<p>Welcome to [Anjali designs], your number one source for all things [fashions, ie: shoes, jewellery,fashions]. We're dedicated to giving you the very best of [product], with a focus on [three characteristics, ie: dependability, customer service and uniqueness.]
                    Founded i</p></a></h6>
            <h6><a routerLink='/contactus' style="color: white;"><i class="fas fa-phone-volume"></i>

                CONTACT US<p></p><p>9876543210</p><p>040-2424241</p></a></h6>
 </div>
 <hr class="clearfix w-100 d-md-none pb-3">
 <div class="col-md-3 mt-md-0 mb-3" style="text-align:right;">
 <h4 class="text-uppercase font-weight-bold" style="text-align: center;">FASHIONS</h4>
 <h6><a routerLink='/womenswear' style="color: white;">WOMENS WEAR</a></h6>
 <h6><a routerLink='/menswear' style="color: white;">MENS WEAR</a></h6>
 <h6><a routerLink='/kidswear' style="color: white;">KIDS WEAR</a></h6>
 <h6><a routerLink='/jewellery' style="color: white;">JEWELLERY</a></h6>
 <h6><a routerLink='/footwear' style="color: white;">FOOTWEAR</a></h6>
 </div>
 <div class="col-md-3 mt-md-0 mb-3" style="text-align: left;">
    <h4 class="text-uppercase font-weight-bold" style="text-align: center;">STORE INFORMATION</h4>
<h6>ANJALI DESIGNS</h6>
<h6>PLOT NO:112,FLAT NO:801</h6>
<h6>HARIKA RESIDENCY,RADHIKA NAGAR COLONY</h6>
<h6>MIYAPUR,HYDERABAD,500090</h6>
<h6>INDIA</h6>
<h6>CALL US AT:9876543210</h6>
</div>
<div class="col-md-3 mt-md-0 mb-3" style="text-align: right;">
    <h4 class="text-uppercase font-weight-bold">SWITCH ON</h4>
    <h6><a routerLink='/login' style="color: white;">LOG IN</a></h6>
</div>
</div>
</div>
<div class="socialmedia" style="text-align: center;">
    <a style="margin: 20px 25px;" href="https://www.facebook.com/profile.php?id=100008640317759"><i class="fab fa-facebook"></i></a>
    <a style="margin: 20px 25px;" href="https://youtube.com/channel/UC5nsEeqXMlpOPbZ7kCjYTkQ"><i class="fab fa-youtube"></i></a>
</div>
<div class="footer-copyright text-center py-3">0 2020 copyright:ANJALI DESIGNS</div>
</footer>
</body>
</html>