<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="card-deck">
    <div class="card bg-light" style="width: 400px;">
      <div class="card-header">LEE</div>
      <div class="card-body"><img src="../../../assets/images/m8.jpg" alt="card img" width="250px"></div>
      <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
        <i class="fas fa-rupee-sign"></i>2,000

      </div>
    </div>
    <div class="card bg-light">
      <div class="card-header">FLORAL SHIRT</div>
      <div class="card-body"><img src="../../../assets/images/m7.jpg" alt="card img" width="250px"></div>
      <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
        <i class="fas fa-rupee-sign"></i>1,500

      </div>
    </div>
    <div class="card bg-light">
      <div class="card-header">PUMA</div>
      <div class="card-body"><img src="../../../assets/images/m3.jpg" alt="card img" width="250px"></div>
      <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
        <i class="fas fa-rupee-sign"></i>1,000

      </div>
    </div>
    <div class="card bg-light">
      <div class="card-header">LEVIS</div>
      <div class="card-body"> <img src="../../../assets/images/m5.jpg" alt="card img" width="250px"></div>
      <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
        <i class="fas fa-rupee-sign"></i>3,000

      </div>
    </div>
    </div>
</body>
</html>