<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="card-deck">
    <div class="card bg-success" style="width: 400px;">
      <div class="card-header">DESIGNER SLEEVELESS</div>
      <div class="card-body"><img src="../../../assets/images/k1.jpg" alt="card img" width="250px" height="350px"></div>
      <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
        <i class="fas fa-rupee-sign"></i>200

      </div>
    </div>
    <div class="card bg-primary">
      <div class="card-header">FROCK</div>
      <div class="card-body"><img src="../../../assets/images/k2.jpg" alt="card img" width="250px" height="350px"></div>
      <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
        <i class="fas fa-rupee-sign"></i>300

      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-header">ETHINIC WEAR</div>
      <div class="card-body"><img src="../../../assets/images/k3.webp" alt="card img" width="250px" height="350px"></div>
      <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
        <i class="fas fa-rupee-sign"></i>600

      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-header">KURTA DESIGN</div>
      <div class="card-body"> <img src="../../../assets/images/k4.jpg" alt="card img" width="250px" height="350px"></div>
      <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
        <i class="fas fa-rupee-sign"></i>500

      </div>
    </div>
    </div>
</body>
</html>