<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card-deck">
        <div class="card" routerLink='/golfshoes'>
            <div class="card-header">
                <img src="../../assets/images/f1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">GOLF SHOES</div>
            <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
                <i class="fas fa-rupee-sign"></i>3000

            </div>
        </div>
        <div class="card" routerLink='/adidasultraboost'>
           <div class="card-header">
               <img src="../../assets/images/f2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">ADIDAS ULTRA BOOST</div>
           <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
            <i class="fas fa-rupee-sign"></i>2000

           </div>
       </div>
       <div class="card" routerLink='/runningshoes'>
           <div class="card-header">
               <img src="../../assets/images/f3.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">RUNNING SHOES</div>
           <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
            <i class="fas fa-rupee-sign"></i>1000

           </div>
       </div>
    </div>
    <div class="card-deck">
       <div class="card" routerLink='/ballerinas'>
           <div class="card-header">
               <img src="../../assets/images/f4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">BALLERINAS</div>
           <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
            <i class="fas fa-rupee-sign"></i>800

           </div>
       </div>
       <div class="card" routerLink='/moccasins'>
          <div class="card-header">
              <img src="../../assets/images/f10.jpg" alt="no img" height="200px" class="img">
          </div>
          <div class="card-body">MOCCASINS</div>
          <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
            <i class="fas fa-rupee-sign"></i>400

          </div>
      </div>
      <div class="card" routerLink='/peeptoes'>
          <div class="card-header">
              <img src="../../assets/images/f6.jpg" alt="no img" width="300px" height="200px" class="img">
          </div>
          <div class="card-body">PEEP TOES</div>
          <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
            <i class="fas fa-rupee-sign"></i>1200

          </div>
      </div>
   </div>
   <div class="card-deck">
       <div class="card" routerLink='/heels'>
           <div class="card-header">
               <img src="../../assets/images/f7.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">HEELS</div>
           <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
            <i class="fas fa-rupee-sign"></i>1000

           </div>
       </div>
       <div class="card" routerLink='/sandals'>
           <div class="card-header">
               <img src="../../assets/images/f8.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">SANDALS</div>
           <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
            <i class="fas fa-rupee-sign"></i>600

           </div>
       </div>
       <div class="card" routerLink='/shoes'>
           <div class="card-header">
               <img src="../../assets/images/f9.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">SHOES</div>
           <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
            <i class="fas fa-rupee-sign"></i>500

           </div>
       </div>
</div>
</body>
</html>
</body>
</html>