<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card-deck">
        <div class="card" routerLink='/couplerings'>
            <div class="card-header">
                <img src="../../assets/images/j11.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">COUPLE RINGS</div>
            <div class="card-footer">
                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
                <i class="fas fa-rupee-sign"></i>80,000

            </div>
        </div>
        <div class="card" routerLink='/stonesnecklace'>
           <div class="card-header">
               <img src="../../assets/images/j12.jpg" alt="no img" class="img" width="200px" height="220px">
           </div>
           <div class="card-body">STONES NECKLACE</div>
           <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
            <i class="fas fa-rupee-sign"></i>50,000

           </div>
       </div>
       <div class="card" routerLink='/PADIYATHJEWELLERY'>
           <div class="card-header">
               <img src="../../assets/images/j3.jpg" alt="no img" class="img" height="220px">
           </div>
           <div class="card-body">PADIYATH JEWELLERY</div>
           <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
            <i class="fas fa-rupee-sign"></i>75,000

           </div>
       </div>
    </div>
    <div class="card-deck">
       <div class="card" routerLink='/haram'>
           <div class="card-header">
               <img src="../../assets/images/j4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">HARAM</div>
           <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
            <i class="fas fa-rupee-sign"></i>60,000

           </div>
       </div>
       <div class="card" routerLink='/traditionalearrings'>
          <div class="card-header">
              <img src="../../assets/images/j5.jpg" alt="no img" height="200px" class="img">
          </div>
          <div class="card-body">TRADITIONAL EARRINGS</div>
          <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
            <i class="fas fa-rupee-sign"></i>15,000

          </div>
      </div>
      <div class="card" routerLink='/goldearrings'>
          <div class="card-header">
              <img src="../../assets/images/j13.jpg" alt="no img" width="300px" height="200px" class="img">
          </div>
          <div class="card-body">GOLD EARRINGS</div>
          <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
            <i class="fas fa-rupee-sign"></i>10,000

          </div>
      </div>
   </div>
   <div class="card-deck">
       <div class="card" routerLink='/diamondrings'>
           <div class="card-header">
               <img src="../../assets/images/j8.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">DIAMOND RINGS</div>
           <div class="card-footer">                <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
            <i class="fas fa-rupee-sign"></i>40,000

           </div>
       </div>
       <div class="card" routerLink='/diamondnecklace'>
           <div class="card-header">
               <img src="../../assets/images/j9.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">DIAMOND NECKLACE</div>
           <div class="card-footer">                
               <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
            <i class="fas fa-rupee-sign"></i>1,00,000

           </div>
       </div>
       <div class="card" routerLink='/necklaceset'>
           <div class="card-header">
               <img src="../../assets/images/j10.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">NECKLACE SET</div>
           <div class="card-footer">               
         <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
         <i class="fas fa-rupee-sign"></i>25,000
</div>
       </div>
</div>
</body>
</html>