<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="card-deck">
    <div class="card bg-success" style="width: 400px;">
      <div class="card-header">LONG FROCK</div>
      <div class="card-body"><img src="../../../assets/images/a1.jpg" alt="card img" width="250px" height="350px"></div>
      <div class="card-footer">               <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
        <i class="fas fa-rupee-sign"></i>1,400

      </div>
    </div>
    <div class="card bg-primary">
      <div class="card-header">JEANS TOP</div>
      <div class="card-body"><img src="../../../assets/images/a2.jpg" alt="card img" width="250px"></div>
      <div class="card-footer">               <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
        <i class="fas fa-rupee-sign"></i>1,000

      </div>
    </div>
    <div class="card bg-warning">
      <div class="card-header">DESIGNARY DRESS</div>
      <div class="card-body"><img src="../../../assets/images/a3.jpeg" alt="card img" width="250px" height="350px"></div>
      <div class="card-footer">               <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
        <i class="fas fa-rupee-sign"></i>1,500

      </div>
    </div>
    <div class="card bg-danger">
      <div class="card-header">HEAVY FROCK</div>
      <div class="card-body"> <img src="../../../assets/images/a4.jpg" alt="card img" width="250px"></div>
      <div class="card-footer">               <button type="submit" class="btn regular-button" style="background-color: yellow;">Add to Cart</button>
        <i class="fas fa-rupee-sign"></i>2,000

      </div>
    </div>
    </div>
</body>
</html>